img {
    width: 300px;
}

.cakes__container{
    display: flex;
    gap: 20px;
}

.cake-card{
    background-color: peachpuff;
    padding: 10px 30px;
    border-radius: 10px;
    
}

h3,p {
    text-align: center;
}



body{
    background-color: oldlace;
}

