img {
    width: 300px;
}

.display-recipes{
    text-align: center;
}

.cakes__container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

form p {
    text-align: left;
}

.cake-card{
    background-color: peachpuff;
    width: 20%;
    min-width: 150px;
    border-radius: 10px;
    text-align: left;
    margin-top: 10px;
    
}

h3,p {
    text-align: center;
}



body{
    background-color: oldlace;
}

h1 {
    grid-area: b;
}
.search-bar {
    grid-area: c;
}

.search-bar input {
    width: 45%;
}
nav ul {
    grid-area: a;
    /* margin-top: 12px; */
    align-items: center;

}




header {
    display: grid;
    grid-template-areas:
     "a b b"
     "a b b"
     "a c c";
}
